.logincontainer {
 
  font-family: "Quicksand", sans-serif;
display: flex;
  justify-content: center ;
  align-items: center;

}
.box{
  
}
.logincontainer .loggin {
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
  /* padding: 20px; */
  /* position: absolute; */
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
color: white;
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(105, 128, 146) 50%, rgb(50, 49, 49) 100%);

background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #345667, #002843);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #346a85, #012740); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.logincontainer .loggin form {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  color: white;


}
.logincontainer .loggin form .inputt{
  border-radius: 10px;
  height: 40px;
  padding: 10px;

}

.logincontainer .formTitle {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Lugrasimo', cursive;

}

.logincontainer .loggin .text {
  height: 40px;
  border: none;
  border-radius: 7px;
  border-bottom: 1px solid lightgray;
}

.logincontainer .loggin  input:focus {
  outline: none;
}

.logincontainer .submitButton {
  width: 100px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: rgb(126, 120, 126);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
}

.loggin {
  /* width: 200px;
  height: 200px; */
  /* padding: 20px; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}

/* .logincontainer .home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.logincontainer .deleteButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fff0f1;
  color: #d95087;
  cursor: pointer;
}

.logincontainer .deleteButton:hover {
  background-color: #fad4d7;
}

.logincontainer .error {
  font-size: 12px;
  color: crimson;
}

.logincontainer .success {
  font-size: 12px;
  color: green;
}
.logincontainer .invalid{
  font-size: 12px;
  width: 200px;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.invalid b{
  color: crimson;
}
