.userDash{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.userr{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.userBut{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(12, 58, 87);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
  }

  .dashTitle{
    font-size: 42px;
    font-family: 'Lugrasimo', cursive;
  }