.video-player {
  height: 100%;
  width: 100%;
}

.video-cards {
  position: relative;
  /* display: flex; */
}

video {
  width: 50%;
  height: 100%;
  scroll-snap-align: start;
  /* position: relative; */
}

.insta-logo {
  width: 20%;
  max-width: 200px;
}

.video-container {
  position: relative;
  height: 90vh;
  width: 70%;
  max-width: 550px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
  display: none;
}
.commentBTN {
  position: absolute;
  bottom: 60px;
  right: 20px;
  border: none;
}
