.adminDash{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    height: 85vh;
    /* padding: 60px; */
    width: 70vw;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;

    background-color: aqua;
  gap: 20px;
   
    display: grid;
    place-items: center;
    border-radius: 0px 80px;
    align-content: space-evenly;
  
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
              radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
              radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
              radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
              linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
              linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
              linear-gradient(203deg, transparent 0%, rgba(2, 20, 21, 0.705) 73.392%, rgba(48, 112, 232, 0.52) 100%),
              radial-gradient(at 29% 89%, #0e5640 0%, rgb(6, 128, 137) 97%, #342857 100%) 39% 94%/123% 175%;
  /* border-radius: 8px; */
  padding: 30px;
  box-sizing: border-box;
}

.adminDash .bttn{
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(1, 65, 44);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
}

.adminDash .adminTitel{
  /* margin-top: 30px; */
  font-size: 32px;
  /* padding: 30px; */
  font-weight: 900;
  color: rgb(37, 37, 37);

  font-family: 'Lugrasimo', cursive;
}

.dash-desc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 60%;
}

.ownerinfo{
  /* border: 3px dotted black;
  border-radius: 50%;
  padding:30px  50px; */
}

.ownerinfo img{
  border: 3px dotted black;
  border-radius: 50%;
  padding:10px;
}